<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin_main.css">
    <link rel="stylesheet" href="/css/admin_ground_common.css">
    <link rel="stylesheet" href="/css/admin_match.css">
    <link rel="stylesheet" href="/css/calendar_one.css">
    <script src="/js/calendar_one.js"></script>
    <title>경기수정 :: 프로젝트</title>
</head>
<body>
    <body>
        <header th:replace="~{/common/header :: header}"></header>
        <div class="container">
            <aside class="side box" th:replace="~{/common/admin_menu :: adminMenu}"></aside>
            <div class="mainBox box">
                <h2>경기등록</h2>
                <a th:href="|/admin/ground/${fieldInfo.fieldId}|" class="fieldInfo box">
                    <h3>구장정보</h3>
                    <div class="fieldInfoFlex">
                        <div class="fieldImage">
                            <img th:src="|/images/fieldImage/${fieldInfo.fieldImage.fieldImageStoreName}|" th:alt="${fieldInfo.fieldImage.fieldImageName}">
                        </div>
                        <table>
                            <tr>
                                <th>구장지역</th>
                                <td th:text="${fieldInfo.fieldRegion}">서울</td>
                            </tr>
                            <tr>
                                <th>구장이름</th>
                                <td th:text="${fieldInfo.fieldTitle}">무슨무슨 구장</td>
                            </tr>
                            <tr>
                                <th>구장위치</th>
                                <td th:text="${fieldInfo.fieldAddress}">서울 어디어디 어디로 몇다시몇</td>
                            </tr>
                        </table>
                    </div>
                </a>
                <form th:object="${editMatchForm}" th:action="@{/admin/match/} + *{matchId} + @{/edit}" method="post" >
                    <table>
                        <tr>
                            <th>경기날짜</th>
                            <td>
                                <div class="date_picker_wrapper">
                                    <input type="text" th:field="*{matchDate}" class="inputForm" inputmode="numeric" placeholder="YYYY/MM/DD" aria-pressed="false" th:errorclass="field-error" readonly>
                                    <div class="time">
                                        <select th:field="*{matchHour}" class="inputForm">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                        </select>
                                        시
                                    </div>
                                    <div class="errorMsg" id="errorFileName"></div>
                                    <div class="errorMsg field-error" th:errors="*{matchHour}">[[${errorMsg}]]</div>

                                    <div id="date_range_calendar" class="">
                                        <div id="calendar_header">
                                            <button type="button" id="preButton">
                                                <svg transform='rotate(180)' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                    <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                                            </button>
                                            <div class="months">
                                                <div id="mainMonth"></div>
                                            </div>
                                            <button type="button" id="nextButton">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                    <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                                            </button>
                                        </div>
                                        <div id="calendar_body">
                                            <div id="mainBody">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>경기인원</th>
                            <td>
                                <select th:field="*{matchMaxPerson}" class="inputForm">
                                    <option value="6">6 vs 6</option>
                                    <option value="5">5 vs 5</option>
                                </select>
                                <select th:field="*{matchCount}" class="inputForm">
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                </select>
                                <div>파전</div>
                            </td>
                        </tr>
                        <tr>
                            <th>경기옵션</th>
                            <td>
                                <div class="optionBox">
                                    <div class="options">
                                        <h4>성별</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="*{gender}" id="genderAll" value="전체" th:errorclass="field-error" checked><label for="genderAll">남여모두</label></li>
                                            <li><input type="radio" th:field="*{gender}" id="male" value="남자" th:errorclass="field-error"><label for="male">남자</label></li>
                                            <li><input type="radio" th:field="*{gender}" id="female" value="여자" th:errorclass="field-error"><label for="female">여자</label></li>
                                        </ul>
                                        <div class="errorBox">
                                            <div class="errorMsg" id="errorGender"></div>
                                            <div class="errorMsg field-error" th:errors="*{gender}">[[${errorMsg}]]</div>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <h4>등급</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="*{matchGrade}" id="gradeAll" value="전체" th:errorclass="field-error"><label for="gradeAll">등급무관</label></li>
                                            <li><input type="radio" th:field="*{matchGrade}" id="beginner" value="초급" th:errorclass="field-error"><label for="beginner">초급</label></li>
                                            <li><input type="radio" th:field="*{matchGrade}" id="amateur" value="중급" th:errorclass="field-error"><label for="amateur">중급</label></li>
                                            <li><input type="radio" th:field="*{matchGrade}" id="expert" value="전문가" th:errorclass="field-error"><label for="expert">전문가</label></li>
                                        </ul>
                                        <div class="errorBox">
                                            <div class="errorMsg" id="errorGrade"></div>
                                            <div class="errorMsg field-error" th:errors="*{matchGrade}">[[${errorMsg}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="submitBox">
                        <input type="submit" class="submitBtn btn" value="수정완료">
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</body>
</html>
