

.date_picker_wrapper {
    display: flex;
    position: relative;
    gap: 24px;
}

#calendar_confirm {
    width: 60px;
    height: 30px;
    float: right;
}
/* 기간 버튼 */

.date_picker_buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.date_picker_buttons button {
    width: 90px;
    height: 40px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
}

.date_picker_buttons button[aria-pressed="true"] {
    background-color: var(--point-color);
    color: white;
    transition: 0.2s ease-in-out;
}

/* YYYY/MM/DD - YYYY/MM/DD */
#date_range {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.date_wrap {
    width: 140px;
    height: 40px;
    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
}
.date_wrap input {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}


.date_picker_calendar {
    position: relative;
}
#date_range_calendar {
    left: 0;
    top: 3.5rem;
    position: absolute;
    width: 40rem;

    border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: 0 0 1px #00000040, 0 8px 12px #0000000f;
    
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem;
    z-index: 5;
}
#date_range_calendar.disabled {
    display: none;
}

#calendar_header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;
}

.months {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    font-size: 1.1rem;
}


#preButton *, #nextButton * {
    pointer-events: none;
}
#preButton, #nextButton {
    border: none;
    background-color: white;
    cursor: pointer;
}

#nextButton:disabled, #preButton:disabled{
    fill: rgb(215, 215, 215);
    cursor: default;
}

/* 캘린더 바디 */
#calendar_body {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
}

.week:first-child {
    margin-bottom: 1rem;
}
.week {
    display: flex;
    margin-bottom: 0.5rem;   
}

.week:nth-child(2) {
    justify-content: flex-end;
}
.week:last-child {
    justify-content: flex-start;;
}

.cell button[data-is-today="true"] {
    text-decoration: underline;
}

.cell {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}


.cell button {
    border: none;
    background-color: #ffffff00;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius);
    
}
.cell[data-is-within-range='true'] {
    background-color: var(--main-color-1);
    margin-left: 0;
    padding-left: 1rem;
    width: calc(24px + 1rem);
}
.cell[data-is-within-range='false'] {
    margin-left: 1rem;
    padding-left: 0;
}
.cell:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    margin-left: 0;
    padding-left: 0;
    width: 24px;
}
.cell:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.cell button[aria-pressed="true"] {
    background-color: var(--point-color);
    color: white;
}

input[name="startDate"]:focus, input[name="endDate"]:focus {
    border: 2px solid var(--point-color);
}


/* 일 - 토 글씨*/
.cell > div {
    font-size: 0.9rem;
}

#calendar_bottom {
    margin-top: 1rem;
    width: 100%;
}

#confirmButton {
    float: right;

    width: 4rem;
    height: 2rem;
    background-color: black;
    border-radius: var(--border-radius);
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: var(--point-color);
}

button[data-is-disabled="true"], button[data-is-disabled="true"]:hover{
    background-color: rgb(138, 138, 138);
    color: white;
    cursor: default;
    opacity: initial;
}

@media screen and (max-width: 1024px) {
    .date_picker_calendar {
        position: initial;
    }
}
@media screen and (max-width: 939px) {
    #date_range_calendar {
        left: -3rem;
    }
}
@media screen and (max-width: 820px) {
    #date_range_calendar {
        left: 0rem;
    }
}
@media screen and (max-width: 770px) {
    #date_range_calendar {
        left: 0rem;
    }
}
@media screen and (max-width: 670px) {
    #leftMonth, #leftBody {
        display: none;
    }
    #date_range_calendar {
        width: auto;;
    }
}
@media screen and (max-width: 363px) {
    #date_range_calendar {
        padding: 1.5rem 0.8rem 1rem 0.8rem;
    }
}


